<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 </div>

<!--<div [innerHTML]='title'> 
    
 </div> 
Two way Data Binding-
 <div [(innerHTML)]='title'>
   
</div>-->
<a routerLink="/managetodolist">Link</a>
<router-outlet></router-outlet>
<br>
<a routerLink="/formtdfTodo">TDF</a>
<router-outlet></router-outlet>
<br>
<a routerLink="/formmdfTodo">MDF</a>
<router-outlet></router-outlet>
<br>
<a routerLink="/countryList">Country</a>
<router-outlet></router-outlet>
<br>
<a routerLink="/Parent">Parent</a>
<router-outlet></router-outlet>
